.cache/
.mixin.out/
.sable/
.probe/
.vscode/
.idea/
.github/
bivrik/
crash-reports/
data/
downloads/
local/
logs/
ntgl/
saves/
schematics/
screenshots/
.curseclient
command_history.txt
minecraftinstance.json
ponders_watched.json
usercache.json
usernamecache.json